body {
    background-color: #EEEEEE;
}

.row-header{
    padding-top: 10px;   /*3 %*/
}


.header-transaction{
    font-size: 30px;    /*30px*/
    font-weight: 900;   /*No Weight Property*/
}

.body-text{
    font-size: 20px /*25px*/
}

.button-transaction{
    border-radius: 25px!important;
    align-items: center!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-left: 45px!important;
    padding-right: 45px!important;
    border-color: #150578!important;
    color:  #150578!important;
    background-color: white!important;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 .button-transaction:hover {
    color:white!important;
    background-color: #150578!important;
    border-color: #150578 !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.no-transasction-default-img{
    height: 300px;      /*300px*/
    width: auto;        /*400px but auto is good because it will maintain ratio*/
}

.next-button{
    background-color: #150578!important;
    color: white!important;
}

.cancel-back-button{
    background-color: white!important;
    border-color: #150578!important;
    color: #150578!important
}
.cancel-back-button:hover{
    background-color: #150578!important;
    border-color: white!important;
    color: white!important
}

.tag-icon{
    align-self: center!important;
    margin-right: 10px;
    margin-left: 25px;
}

.location-icon{
    align-self: center!important;
    margin-right: 13px;
    margin-left: 28px;
}

.pencil-icon{
    align-self: flex-start!important;
    margin-right: 13px;
    margin-left: 28px;
}

.input-new-transaction-form{
    width: 550px;
}

.button-group{
    align-self: baseline;
    margin-top: 20px;
}

.form-group{
    padding: 10px;
}

.transaction-step-img-default{
    height: 150px;
    width: auto;
}

.invite-modal-button{
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white!important;
    color: #150578!important;
}
.invite-modal-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white!important;
    color: #150578!important;
}

.invite-people-text{
    font-size: 25px;
}

.invite-people-text-subheading{
    font-size: 15px;
}