.first-time-image {
  height: 290px !important;
  width: 310px !important;
}

.continue-button {
  background-color: #150578 !important;
  color: white !important;
  margin-top: 25px !important;
}

.action-button {
  background-color: #150578 !important;
  color: white !important;
  margin-top: 25px !important;
}

.expansion-panel-heading {
  font-size: 20px !important;
  padding: 9px !important;
}

.expansion-panel-text {
  font-size: 16px !important;
}

.expansion-divider {
  height: 50px !important;
}

.img-div {
  text-align: center !important;
}

.coming-soon-img {
  height: 400px !important;
  width: auto !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.div-heading {
  font-size: 25px !important;
  padding-bottom: 15px !important;
  text-align: center !important;
  font-weight: bold !important;
}

.div-text {
  font-size: 20px !important;
  text-align: center !important;
}
