.no-people-image{
    width: 900px
}

.people-heading{
    font-size: 32px!important;
}

.people-subheading{
    font-size: 16px!important;
    color: #636363
}
.modal-form-field{
    margin-top: 10px !important;
}
.modal-right-field{
    width: 100% !important;
    padding: 0px !important;
}