.reallos-preloader-root {
    z-index: 1300;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    transition: all 250ms ease;
}

.reallos-preloader-root[visible="true"] {
    opacity: 1;
    visibility: visible;
}

.r-logo-container {
    z-index: 1300;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reallos-preloader-root[visible="true"] svg {
    transform: scale(1);
}

.r-logo-container > svg {
    height: 120px;
    width: 90px;
    transform: scale(0.75);

    transition: all 250ms ease;
}

.r-logo-container > svg[full-logo="true"] {
    width: 380px;
}

.r-logo-container > svg > path {
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
}

.r-logo-container > svg > path:nth-child(1) {
    animation: preloader-animation 2s ease-out infinite;
}

.r-logo-container > svg > path:nth-child(2) {
    animation: preloader-animation 2s ease-out infinite 0.2s;
}

.r-logo-container > svg > path:nth-child(3) {
    animation: preloader-animation 2s ease-out infinite 0.4s;
}

.r-logo-container > svg > path:nth-child(4) {
    animation: preloader-animation 2s ease-out infinite 0.6s;
}

.r-logo-container > svg > path:nth-child(5) {
    animation: preloader-animation 2s ease-out infinite 0.8s;
}

.r-logo-container > svg > path:nth-child(6) {
    animation: preloader-animation 2s ease-out infinite 1.0s;
}

.r-logo-container > svg > path:nth-child(7) {
    animation: preloader-animation 2s ease-out infinite 1.2s;
}

@keyframes preloader-animation {
    40% {
        stroke-dashoffset: 0;
    }
    60% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -300px;
    }
}

/* This animation is unused */
@keyframes preloader-fill {
    0% {
        fill: transparent;
    }
    30% {
        fill: transparent;
    }
    40% {
        fill: #150578;
    }
    50% {
        fill: #150578;
    }
    55% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}
