.logo {
  font-family: "Gilroy" !important;
  padding-left: 20px !important;
  font-weight: 900 !important;
  font-size: 25px !important;
  color: #150578 !important;
}

.listDiv {
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
  height: 92vh;
}

.listHeader {
  background-color: #e5e5e5;
  border-radius: 10px 0px 0px 0px;
}

.Innerlogo {
  height: 20px;
}

.profilePhoto {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.large-text {
  font-size: 45px !important;
  font-weight: 200px !important;
  color: #150578;
}

.small-text {
  font-size: 26px !important;
  color: #150578;
}

.emptyList-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.emptyList-img-bg {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.chatDiv {
  background-color: #d0cde4;
  border-radius: 0px 10px 10px 0px;
  height: 92vh;
}
