.maingrid{
    overflow-y: "hidden";
}
.emailhandler-logo{
    position: absolute;
    bottom: 0 ;
    right: 0;
    margin-bottom: 15px;
    margin-right: 10px;
}
.form{
    margin-bottom: 12px !important;
}
@media only screen and (min-width: 2000px){
    .right-image{
        height: 800px;
    }
}
@media only screen and (min-width: 1260px){
    .right-card{
        width: 50%;
    }
    .form{
        width: 160%
    }
}
@media only screen and (min-width: 960px){
    .right-image{
        height: 350px;
    }
    .emailhandler-logo{
        height: 30px
    }
    .emailhandler-logo{
        height: 50px !important;
    }
}
@media only screen and (max-width: 960px){
    .emailhandler-logo{
        position: absolute;
        top: 0;
        left: 0 ;
        margin-top: 5px ;
        margin-left: 10px ;
        height: 30px;
    }
}
@media only screen and (min-width: 600px){
    .right-image{
        height: 650px;
    }
    .right-card{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .emailhandler-logo{
        height: 50px
    }
}
@media only screen and (min-width: 300px){
    .right-image{
        height: 300px;
    }
    .right-card{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .emailhandler-logo{
        height: 40px
    }
}
@media only screen and (max-width: 300px){
    .right-image{
        height: 150px;
    }
    .right-card{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .emailhandler-logo{
        height: 30px
    }
}