.navbar-main {
    background-color: #efefef;
}

.nav {
    border-radius: 10px;
    background-color: white !important;
}

.navbar-btn-group {
    margin-left: auto !important;
}

.navbar-btn-group > * {
    margin-left: 10px !important;
}

.navbar-profile-menu-popup ul > div {
    outline: none;
}

.navbar-profile-menu-popup {
    font-family: 'Roboto Slab';
}

.logo {
    font-family: 'Gilroy' !important;
    padding-left: 20px !important;
    font-weight: 900 !important;
    font-size: 25px !important;
    color: #150578 !important;
}

.user {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}

.navlink {
    margin-left: 5px !important;
    margin-top: 7px !important;
}

.menu-design {
    width: 800px !important;
    max-width: 400px;
}

.profile-popup-info {
    padding-top: 10px;
    padding-bottom: 20px;
}

.avatar-large {
    height: 50px !important;
    width: 50px !important;
}

.profile-padding h2 {
    margin-top: 0;
}

.profile-heading {
    font-size: 24px;
}

.profile-subheading {
    font-size: 16px;
    margin-bottom: 0;
}

.profile-subheading-small {
    font-size: 13px;
    margin-top: 10px !important;
}

.profile-progress-link {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.profile-progress-bar {
    margin-top: 10px;
    border-radius: 5px !important;
    height: 5px !important;
    width: 90% !important;
}

.divider-profile {
    width: 360px !important;
    height: 2px !important;
}

.profile-popup-action-group {
    padding-top: 10px;
}

.profile-popup-action-group button {
    padding-bottom: 5px !important;
    font-family: 'Roboto Slab' !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    margin: 5px;
    max-width: 150px;
}
.notification-menu{
    width: 300px !important;
}

