#upload-doc-action-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

#upload-doc-action-footer > * {
    margin-left: 10px;
}
