:root {
    --drawer-width: 400px;
}

.side-drawer-backdrop {
    z-index: 1200;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #00000000;
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;

    transition: background 250ms ease-in, opacity 300ms ease-in-out;
}

.side-drawer-container {
    z-index: 1200;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--drawer-width);
}

.side-drawer {
    border-radius: 20px 0 0 20px;
    background: #ffffff;
    height: 100vh;
    width: var(--drawer-width);
    transform: translateX(var(--drawer-width));

    transition: transform 250ms ease-in-out;
}

.side-drawer-content {
    margin: 30px 40px;
}

.side-drawer-root {
    visibility: hidden;
    opacity: 0;

    transition: opacity 150ms ease-in, visibility 150ms ease-in;
}

.side-drawer-root[visible="true"] {
    visibility: visible;
    opacity: 1;
}

.side-drawer-root[visible="true"] > .side-drawer-backdrop {
    background: #00000040;
    opacity: 1;
}

.side-drawer-root[visible="true"] .side-drawer {
    transform: translateX(0);
}

.side-drawer-root[side="left"] .side-drawer-container {
    left: 0;
}

.side-drawer-root[side="left"] .side-drawer {
    border-radius: 0 20px 20px 0;
    transform: translateX(-400px);
}

.side-drawer-root[visible="true"][side="left"] .side-drawer {
    transform: translateX(0);
}

.side-drawer-heading {
    color: #000000;
    font-size: 35px;
}
