.dummy-page-container{
    overflow-y: hidden;
}
.dummy-page-logo{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    height: 65px;
}
.dummy-page-right-back{
    background-image: url('../../assets/dots.png');
    background-color: rgba(21, 5, 120, 1) !important;
}
.icon-row-1{
    margin-right: 30px;
}
.icon-row-2{
    margin-top: 10px;
    margin-left: 30px;
}
.dummy-page-right-card{
    box-shadow: 20px 20px #fff;
}