@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;531;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Extrabold.woff');
}

.App {
    font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  transition: opacity 150ms ease-in;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.8;
}

.reallos-fab {
  font-family: 'Gilroy' !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  border-radius: 25px !important;
  align-items: center !important;
  padding: 25px 30px !important;
  color: #150578 !important;
  background-color: white !important;

  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.reallos-button {
  font-family: 'Roboto Slab' !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  padding: 10px 20px !important;
}

/* WARNING: Not a cross-browser solution for scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000001c; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000040;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #00000090;
}
