@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;531;600;700;800;900&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Extrabold.woff');
}

.App {
    font-family: 'Roboto Slab', serif;
}

.App > #app-container > * {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
